<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
 <!-- <body style="overflow: auto;"> -->
  
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header-custom fixed-top">
        <button type="button" (click)="DismissModal()" class="btn  btn-back" data-bs-dismiss="modal">
        <i class="fa fa-arrow-left"></i> Back
        </button>
        <h5 class="modal-title text-center">{{ModalHeader}}</h5>
        <button type="button" class="btn btn-success btn-done" (click)="Save()">
          Submit
        </button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body mt-5">
        <!-- Search Box -->
        <div class="search-box" style="margin-top: 50px;">
          <input type="text" id="searchInput" placeholder="Search..." name="searchQuery" [(ngModel)]="searchQuery" (input)="filterDropdown()"/>
        </div>
        <!-- Table -->
        <div class="table-responsive">
          <table class="table table-hover" id="dataTable">
            <thead class="table-dark">
              <tr>
                <th *ngIf="CheckType=='radio'">#</th>
                <th *ngIf="CheckType=='check'"><input class="cpoint" type="checkbox" [checked]="SelectedList==filteredData" (change)="SelectAll($event)"></th>
                <th *ngFor="let items of Headers">{{items}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lists of filteredData;let i =index" >
                <td  ><input type="checkbox"class="cpoint" [checked]="SelectedList.includes(lists)" (change)="SingleSelection($event,lists)"></td>
                <td *ngFor="let items of Fields">{{lists[items]}}</td>
              </tr>
         
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
 <!-- </body> -->
<!-- </div> -->