

<body>
  <div class="container ">
    <router-outlet></router-outlet>
  </div>

  
      <!-- <a (click)="NavigateTo('transaction')"><i class="fa fa-list"></i>Transactions</a> -->
  <!-- Footer -->
  <!-- <div class="footer">
   
    <div class="footer-menu">
      <a (click)="NavigateTo('menu')"><i class="fa fa-dashboard"></i>Menu</a>
      <a (click)="NavigateTo('attendence')"><i class="fa fa-clock-o"></i>Attendence</a>
      <a (click)="NavigateTo('profile')"><i class="fa fa-user"></i>Profile</a>
  </div>
  </div> -->

  <!-- <div class="bottom-nav">
    <div class="nav-item active">
        <i class="fas fa-user"></i>
        <span>Profile</span>
    </div>
    <div class="nav-item">
        <i class="fas fa-bars"></i>
        <span>Menu</span>
    </div>
    <div class="nav-item">
        <i class="fas fa-cog"></i>
        <span>Settings</span>
    </div>
</div> -->

  <!-- Futuristic Bottom Navigation -->


</body>